# ==========================================
# Application
# ==========================================

VITE_APP_NAME=José Fernando Elorza

# ==========================================
# API
# ==========================================

VITE_API_URL=http://localhost:3000/api

# ==========================================
# Payments
# ==========================================

VITE_WOMPI_PUBLIC_KEY=

VITE_GLOBAL66_PUBLIC_KEY=