.dark {
    --background: var(--neutral-900);
    --foreground: var(--neutral-50);

    --card: var(--neutral-800);
    --card-foreground: var(--foreground);

    --popover: var(--neutral-800);
    --popover-foreground: var(--foreground);

    --primary: var(--brand-secondary);
    --primary-foreground: var(--neutral-900);

    --secondary: var(--brand-primary);
    --secondary-foreground: var(--neutral-0);

    --accent: var(--brand-accent);
    --accent-foreground: var(--neutral-0);

    --muted: var(--neutral-700);
    --muted-foreground: var(--neutral-300);

    --border: var(--neutral-700);
    --input: var(--neutral-700);

    --ring: var(--brand-secondary);

    --destructive: var(--error);

    /* Sidebar */

    --sidebar: var(--card);
    --sidebar-foreground: var(--foreground);

    --sidebar-primary: var(--primary);
    --sidebar-primary-foreground: var(--primary-foreground);

    --sidebar-accent: var(--secondary);
    --sidebar-accent-foreground: var(--secondary-foreground);

    --sidebar-border: var(--border);
    --sidebar-ring: var(--ring);

    /* Charts */

    --chart-1: var(--brand-secondary);
    --chart-2: var(--brand-primary);
    --chart-3: var(--brand-accent);
    --chart-4: var(--brand-highlight);
    --chart-5: var(--neutral-400);
}